.homeCurso {
  @apply py-10 bg-no-repeat bg-cover bg-blend-multiply bg-primary;
  background-image: url("/images/banner_curso.jpg");

  &__title {
    h3 {
      @apply text-secundary;
    }
    h2 {
      @apply text-white;

      &:before {
        @apply hidden;
      }
    }
  }
  &__ctn {
    @apply w-full relative z-10;

    &__cursos {
      @apply flex flex-col my-10 items-center gap-10;
    }
  }
  @screen laptop {
    padding: calc(8rem * var(--scale)) 0;

    &__thumb {
      @apply pt-[8rem] relative w-full;
      height: calc(60rem * var(--scale));
      z-index: 1;

      &::before {
        @apply mix-blend-multiply bg-primary bg-opacity-90 left-0 top-0 absolute z-20 w-full h-full object-cover;
        content: "";
      }

      &__title {
        h3 {
          @apply text-secundary;
        }
        h2 {
          @apply text-white;

          &:before {
            @apply hidden;
          }
        }
      }
    }

    &__ctn {
      @apply w-[70%] relative z-10;

      &__portada {
        @apply w-full mx-auto;
        margin-top: calc(0rem * var(--scale));
        img {
          @apply w-full;
        }
      }

      &__cursos {
        @apply flex flex-row justify-between my-10;
      }
    }
  }
}
