.homeCurso {
  @apply bg-[#f1f1f1] pb-10;
  &__thumb {
    @apply pt-20 relative  h-[30rem] w-full;
    z-index: 1;

    background-image: url("/images/texture_curso.jpg");

    &::before {
      @apply mix-blend-multiply left-0 top-0 absolute z-20 w-full h-full object-cover;
      content: "";
      background: linear-gradient(
        25deg,
        rgba(32, 109, 233, 0.9) 0%,
        rgba(7, 17, 146, 0.9) 64%,
        rgba(122, 26, 248, 0.9) 100%
      );
    }

    &__title {
      h3 {
        @apply text-secundary;
      }
      h2 {
        @apply text-white;

        &:before {
          @apply hidden;
        }
      }
    }
  }

  &__ctn {
    @apply w-full relative z-10;

    &__portada {
      @apply w-full mx-auto mt-[-11rem];
      img {
        @apply w-full;
      }
    }

    &__cursos {
      @apply flex flex-col my-10 items-center gap-10;
    }
  }
  @screen laptop {
    @apply bg-[#f1f1f1] pb-24;
    &__thumb {
      @apply pt-32 relative  h-[50rem] w-full;
      z-index: 1;

      background-image: url("/images/texture_curso.jpg");

      &::before {
        @apply mix-blend-multiply left-0 top-0 absolute z-20 w-full h-full object-cover;
        content: "";
        background: linear-gradient(
          25deg,
          rgba(32, 109, 233, 0.9) 0%,
          rgba(7, 17, 146, 0.9) 64%,
          rgba(122, 26, 248, 0.9) 100%
        );
      }

      &__title {
        h3 {
          @apply text-secundary;
        }
        h2 {
          @apply text-white;

          &:before {
            @apply hidden;
          }
        }
      }
    }

    &__ctn {
      @apply w-[70%] relative z-10;

      &__portada {
        @apply w-full mx-auto mt-[-20rem];
        img {
          @apply w-full;
        }
      }

      &__cursos {
        @apply flex flex-row justify-between my-10;
      }
    }
  }
}
