.numbBox {
  @apply hidden;
  @screen laptop {
    @apply bg-warning text-primary absolute flex items-center;
    box-shadow: -3px 8px 23px -8px rgba(0, 0, 0, 0.59);
    z-index: 10;
    width: calc(32rem * var(--scale));
    padding: calc(3rem * var(--scale)) calc(1.5rem * var(--scale));
    height: calc(6.7rem * var(--scale));
    gap: calc(1rem * var(--scale));
    border-radius: calc(3rem * var(--scale));
    bottom: calc(5rem * var(--scale));
    right: calc(15rem * var(--scale));
    &__thumb {
      width: calc(5.5rem * var(--scale));
      img {
        @apply w-full;
      }
    }
    &__text {
      @apply text-white font-primary;

      h3 {
        @apply font-[800];
        font-size: calc(2.57rem * var(--scale));
        letter-spacing: calc(0.3rem * var(--scale));}
      }
  }
}
