.middleCard {
  @apply relative overflow-hidden flex flex-col items-center;
  border-radius: 5px;
  background-size: cover;


  &__thumb {
    @apply flex items-center justify-center;
    width:8rem;
    height:6rem;
    img{
    @apply w-[80%] h-[80%] ;
    object-fit: contain;
    }
  }

  &__title {
    @apply block mx-7 text-primary font-[600] text-[1.7rem] ;
    z-index: 10;
  }

  @screen laptop {
    @apply relative overflow-hidden;
    border-radius: 5px;
    background-size: cover;
    width: calc(18.7rem * var(--scale));
    height: calc(22.8rem * var(--scale));

    &__title {
      @apply block  text-white font-[400] absolute;
      font-size: calc(1.923rem * var(--scale));
    }
  }
}
