.serviceCard {
  @apply rounded-xl p-[2rem] pb-[0] w-[90%]  mx-auto;
  box-shadow: 0px 2.5px 32px 0px rgba(64, 64, 64, 0.1);
  &__thumb {
    @apply rounded-xl overflow-hidden h-[15rem];
    img {
      @apply w-full h-full object-cover;
    }
  }
  &__description {
    &-title {
      @apply font-[600]  pr-5 text-[1.6rem] flex justify-between pt-[2rem] pb-[1.2rem];
      h2 {
        @apply block py-2;
      }
      & > button {
        @apply bg-primary text-white w-[3rem] h-[3rem] rounded-full;
        & > .icon-arrow-2 {
          @apply block text-[1.3rem] font-[200];
          transform: scale(100%);
          transition: transform 0.4s ease-in-out;
        }
        .rotar {
          @apply block;
          transform: scaleY(-100%);
        }
      }
    }

    &-text {
      max-height: 62rem;
      overflow: hidden;
      transition: max-height 0.6s ease-in-out;

      p {
        @apply leading-[165%] text-[1.5rem];
      }

      strong {
        @apply block my-[1rem];
      }

      ul {
        @apply leading-[165%];
        list-style: disc;
        margin-left: 2rem;
      }
      &-btn {
        @apply bg-primary text-white my-[1.5rem];
      }
    }
  }

  @screen laptop {
    @apply mx-0 w-full bg-white relative overflow-hidden;
    display: grid;
    grid-template-columns: calc(24.5rem * var(--scale)) 1fr;
    box-shadow: -1px 4px 38px 10px rgba(0, 0, 0, 0.12);
    gap: calc(3rem * var(--scale));
    height: calc(48.4rem * var(--scale));
    padding: calc(2.7rem * var(--scale));

    &:after {
      position: absolute;
      top: 0;
      left: calc(45rem * var(--scale));
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #093f51 0%, rgba(9, 63, 81, 0) 100%);
      opacity: 0;
      mix-blend-mode: multiply;
      transition: all 0.4s ease-in-out;
      clip-path: polygon(0 0, 46% 0, 64% 100%, 33% 100%);
    }

    &:hover {
      &:after {
        opacity: 0.05000000074505806;
      }
    }

    &:hover &__thumb:before {
      opacity: 1;
    }
    &:hover &__description-text-btn {
      @apply bg-secundary;
    }

    &__thumb {
      @apply relative block;
      height: calc(41.5rem * var(--scale));
      width: calc(24.5rem * var(--scale));

      img {
        @apply h-full w-full object-cover;
        object-position: calc(-17rem * var(--scale));
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        transition: all 0.4s ease-in-out;
        background: linear-gradient(
          180deg,
          #509415 0%,
          rgba(80, 148, 21, 0) 100%
        );
        opacity: 0;
      }
    }

    &__description {
      &-title {
        @apply pt-[0];
        width: calc(45rem * var(--scale));
        padding-bottom: calc(0.8rem * var(--scale));
        h2 {
          @apply block p-0;
          font-size: calc(2rem * var(--scale));
        }
        & > button {
          @apply hidden;
        }
      }

      &-text {
        max-height: 62rem;
        overflow: hidden;
        transition: max-height 0.6s ease-in-out;
        font-size: calc(1.7rem * var(--scale));
        p {
          @apply leading-[165%];
          font-size: calc(1.8rem * var(--scale));
        }

        strong {
          @apply block my-[1rem];
        }

        ul {
          @apply leading-[165%];
          list-style: disc;
          margin-left: 2rem;
          li {
            margin-left: calc(1rem * var(--scale));
          }
        }
        &-btn {
          font-size: calc(1.898rem * var(--scale));
          margin: calc(1.5rem * var(--scale)) 0;
        }
      }
    }
  }

  .inactivo {
    max-height: 0;
    @screen laptop {
      max-height: 62rem;
    }
  }
}
