.skillCard {
  @apply bg-white flex items-center rounded-[2rem] pl-3 pr-6 py-4 h-[3.9rem];
  box-shadow: 0px 2.560544013977051px 32.00680160522461px 0px
    rgba(64, 64, 64, 0.15);

  &__thumb {
    @apply w-[3rem] h-[3rem] mr-3 bg-primary rounded-full flex justify-center items-center;
    img {
      @apply w-[60%] h-[60%] object-contain;
    }
  }
  &__text {
    @apply text-black text-[1.4rem] font-[400];
  }

  @screen tablet {
    @apply py-8 h-[3.5rem] rounded-[4rem];
    &__thumb {
      @apply w-[3.2rem] h-[3.2rem];
    }
    &__text {
      @apply text-[1.5rem] font-[400];
    }
  }

  @screen laptop {
    padding: calc(3rem * var(--scale)) 0;
    padding-left: calc(0.8rem * var(--scale));
    padding-right: calc(5rem * var(--scale));
    border-radius: calc(5rem * var(--scale));
    &__thumb {
      @apply bg-primary flex justify-center items-center;
      margin-right: calc(2rem * var(--scale));
      width: calc(5.1rem * var(--scale));
      height: calc(5.1rem * var(--scale));
      img {
        @apply w-[60%] h-[60%] object-contain;
      }
    }
    &__text {
      font-size: calc(2rem * var(--scale));
      white-space: nowrap;
    }
  }
}
